/* ----------------------HERO SECTION  -----------------------------------*/

#hero {
  width: 100%;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  line-height: 1;
  >img {
  min-width: 180px;
  min-height: 180px;
  aspect-ratio: 1/1;
  max-width: 320px;
  max-height: 320px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}
}

strong {
  color: var(--color-primary-hover);
  font-weight: 600;
}

