/* ----------------------PROJECTS SECTION  -----------------------------------*/
#projects ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  > li {
    flex: 1;
  }
  article {
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    background-color: white;
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      object-position: top center;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    div {
      background-color: var(--color-bg-main);
      padding: 1rem;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;
      li {
        max-width: fit-content;
        background-color: var(--color-secondary);
        color: var(--color-text-secondary);
        padding: 0.25rem 0.8rem;
        border-radius: 1rem;
        font-size: 0.8rem;
      }
    }
    .btn-primary {
      background-color: var(--color-primary);
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      text-align: center;
      margin-top: 2rem;
      transition: all 0.3s ease;
      &:hover {
        background-color: var(--color-primary-hover);
      }
    }
  }
}
